 <!DOCTYPE html>
<html lang="en">
 <head>
	<title>Deagan Monahan - COGS121 - 1</title>
	<!--
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 
	<link rel="shortcut icon" href="../favicon.ico"> 
	
	-->
	
	
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<script src="js/modernizr.custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/deagan.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css' />
	<!--
	<script type="text/javascript" src="js/modernizr.custom.69142.js"></script> 
	
	-->
    </head>

    
    <body>
	<div class="container">
	
	  <!-- Top bar -->
	  <div class="codrops-top">
		
		<span class="left">
			<a>Deagan Monahan</a>
		    <a><strong></strong></a>
		</span>
		<div class="clr"></div>
	    </div>
	    <!--/ Top bar -->
    
			<header>
				<h1><span>Assignment 1</span> OAuth</h1>
				<br>
				<nav class="codrops-demos">
					<a href="/auth/instagram">Sign in with Instagram</a>
					
					<a href="/auth/facebook">Sign in with Facebook</a>
				</nav>
			</header>
    
    </div>
    
    
    <div class="container demo-1">
    <br><br>
    <ul class="grid cs-style-1">
				<li>
					<figure>
						<img src="http://wp.production.patheos.com/blogs/tinseltalk/files/2013/04/instagram-etiquette.jpg" alt="img01">
						<figcaption>
						
							<h3>Instagram Dev Page</h3>
							<a href="https://instagram.com/developer/">Goto</a>
						
						</figcaption>
					</figure>
				</li>
				
				<li>
					<figure>
						<img src="http://www.bbb.org/blog/wp-content/uploads/2015/03/Facebook-Tag.jpg" alt="img05">
						<figcaption>
						
							<h3>Facebook Dev Page</h3>
							<a href="https://developers.facebook.com/docs">Goto</a>
						
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="http://linguistics.ucsd.edu/_images/Research/res04.jpg" alt="img03">
						<figcaption>
						
							<h3>COGS 121 Page</h3>
							<a href="http://thiscourse.com/ucsd/cogs121/sp15/">Goto</a>
						
						</figcaption>
					</figure>
				</li>
				
			</ul>
    
    
    
    
    </div>
    
    
    
    <!--
    
     {{#each imageArray}}
              <div class="col-xs-4" class="images" style="text-align:center">
                <img src="{{url}}" class="img-responsive" class="img hashtag-img"><br>
                <form id="saveHashTag" role="form" method="post" action="/save">
                  <input type="hidden" name="hashtag" value="{{../hashtagValue}}">
                  <input type="hidden" name="url" value="{{url}}">
                  <button type="submit" class="btn btn-info">Save</button>
                </form>
                <br><br>
              </div>
            {{/each}}
    
    
    -->
    
    
    
    
    
    
    
<!--
<img src= "http://d3o47n6kn1r59u.cloudfront.net/images/dogbreeds/large/Bull-Terrier.jpg" class="resize">

-->


<script src="js/toucheffects.js"></script>



</body>

</html>